<div id="footer-container" class="container-fluid">
    <div id="footer" class="row footer-style">
        <div id='createdByMobile' class="visible-xs-12 hidden-sm hidden-md hidden-lg text-center" style="vertical-align: middle;line-height: 50px;font-size: 14px;">Created By: <a href="http://github.com/Radiobeat33"><img src="assets/steven.png" alt="Steven Logo"></a></div>
        <div id='createdBy' class="hidden-xs col-sm-6 col-md-6 text-left" style="vertical-align: middle;line-height: 50px;font-size: 14px;">Created By: <a href="http://github.com/Radiobeat33"><img src="assets/steven.png" alt="Steven Logo"></a></div>
        <div id='poweredBy' class="hidden-xs col-sm-6 col-md-6 text-right" style="vertical-align: middle;line-height: 50px;font-size: 14px;">Powered By: <a href="http://angularjs.org"><img src="assets/angular.png" alt="Angular Logo"></a><a href="http://gulpjs.com"><img src="assets/gulp.png" alt="Gulp Logo"></a><a href="http://getbootstrap.com"><img src="assets/bootstrap.png" alt="Twitter Bootstrap Logo"></a></div>
    </div>
</div>