<div id="header-container" class="container-fluid">
    <div id="header" class="row header-style">
        <div class="col-xs-0 col-sm-4 col-md-4"></div>
        <div id='gameTitle' class="col-xs-12 col-sm-4 col-md-4 text-center" style="vertical-align: middle;line-height: 75px;font-size: 36px;">TicTacToe</div>
        <div id='browserText' class="hidden-xs col-sm-4 col-md-4 text-right" style="vertical-align: middle;line-height: 75px;font-size: 16px;">Running On: <img class="browserImageStyle" src="{{browserImage}}" alt="Browser Logo"></div>
    </div>
</div>